<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>owmAPIKey</key>
	<string>d7eed62da6caaab6fd2d41dffc2e7f56</string>
	<key>baseURL</key>
	<string>http://api.openweathermap.org/data/2.5/forecast</string>
</dict>
</plist>
